* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Tahoma, Verdana;
}

ol {
	list-style-position: inside;
}

body {
	background-color: black;
}

.page-body {
	width: 950px;
	margin: 0 auto;
	padding: 0;
}

.page-body header {
	width: 950px;
	height: 150px;
	background-color: darkblue;
	padding: 10px;
	margin: 0;
}

.page-body header h1 {
	width: 100%;
	font-size: 48px;
	color: white;
	margin: 0;
	padding: 0;
}

.page-body main {
	width: 950px;
	min-height: 500px;
	background-color: white;
	padding: 40px;
	margin: 0;
}

.page-body main p {
	display: block;
	width: 100%;
}

.page-body main img.image {
	display: block;
	height: 300px;
	width: auto;
	clear: both;
}

.page-body main button.btn {
	padding: 10px;
	cursor: pointer;
}

.page-body footer {
	width: 950px;
	height: 60px;
	background-color: darkblue;
	margin: 0;
	padding: 10px;
}

.page-body footer p.copyright {
	color: white;
	font-size: 10px;
	font-style: italic;
	width: 100%;
	text-align: center;
}